<h1> <%= @user.first_name %> - All Lessons </h1>
<% if current_user.teacher? %>
  <%= link_to 'New Lesson', new_lesson_path(@user) %>
<% end %>


<% if @lessons.any? %>
  <!-- loop the lessons and display them -->
  <ul>
    <% @lessons.each do |lesson| %>
      <li> <%= lesson.lesson_date %> - <%= link_to 'View Assignments', assignment_index_path(lesson) %> --
      <%= link_to 'Edit Assignments', assignment_index_path(lesson) %> --
      <%= link_to 'Delete Assignments', assignment_index_path(lesson) %> 

      </li>
    <% end %>
  </ul>
<% else %>
  <!-- display no lessons message -->
  <h3>No Lessons, Please <%= link_to 'Create', new_lesson_path(@user) %> One.</h3>
<% end %>




<!-- <h1>Lessons#index</h1>
<p>Find me in app/views/lessons/index.html.erb</p>
 -->