<!DOCTYPE html>
<html>
  <head>
    <title>LessonApp</title>
    <%= csrf_meta_tags %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

  <% if current_user.teacher? %>
  <% else %>
  <% end %>

    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a> <%= link_to 'Log Out', destroy_user_session_path %> </a></li>
        <li><a> <%= link_to 'My Students', student_list(current_user) %> </a></li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
