<!DOCTYPE html>
<html>
  <head>
    <title>LessonApp</title>
    <%= csrf_meta_tags %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'teachers', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><a> <%= link_to 'Log Out', destroy_user_session_path, method: :delete %> </a></li>
        <% if current_user.teacher? %>
        <li><a> <%= link_to 'My Students', student_list_path(current_user) %> </a></li>
        <% end %>
   	  <% else %>
   	  	<%= link_to 'Sign In', new_user_session_path %>
   	  <% end %>

      </ul>
    </div>
  </nav>


  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
